// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary-blue-63: rgba(5, 89, 91, 0.63);
$background-one: rgba(39, 45, 53, 1);
$background-two: rgba(205, 86, 86, 1);
$background-three: rgba(14, 19, 26, 1);
$background: linear-gradient(279.13deg, #F362EE -9.54%, #8B28BA 151.3%);
$hacker-color: rgba(226, 215, 132, 1);
$github-background: rgba(0, 171, 179, 1);
$border: 2px solid rgba(5, 89, 91, 1)
