

#no-bg-box-show {
  background-color: #272D35;
  width: 153px;
}

// PROFILE CARD

.cards-show {
  height: 250px;
  width: 900px;
  background-color: #272D35;
  padding: 38px;
  border-radius: 20px;
  margin-left: 0px;
  justify-content: space-between;
  margin: 10px;
  opacity: 0.9;
}

.profile-infos-show {
  height: 120px;
  margin-top: 29px;
  margin-left: 10px;
  width: 100px;

  .profile-pic-show {
    border-radius: 50%;
  }
  .profile-name-show {
    margin-top: 45px;
    margin-left: 29px;
    color: #C4C4C4;
  }
}

.profile_top{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #C4C4C4;
  background: rgba(187, 127, 127, 0.06);
  border-radius: 20px;
}

.profile_pic_show{
  border-radius: 50%;
  height: 45vh;
  margin: 2%;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

.profile_name_show{
  color: #C4C4C4;
}

.btn-primary{

}

.bio-box-show {
  background-color: #05595B;
  border-radius: 20px;
  width: 90vh;
  height: 35vh;
  margin-top: 2%;
  margin-right: 13px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 1px 9px 0px rgba(28, 28, 28, 0.75);


  .bio-text-show {
    padding: 15px;
  }
}

// STATS BUTTONS

.stats-btns-box-show{
  width: 450;
  color: white;
  text-decoration: none;

  .btns-single-show {
    background-color: #05595B;
    margin: 16px;
    width: 123px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 2%;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);

  .btn-text-show {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 7px;
    }
  }
}



// OTHER CARDS

.cards-grid-show {
  height: 250px;
  width: 900px;
  background-color: #272D35;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 46px;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 10px;
  opacity: 0.9;
}

.boxes-grid-show {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background-color: #05595B;
  justify-content: center;


  .boxes-content-show {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 7px;
    justify-content: center;
    color: white;
  }
}

.index_list{
  list-style-type: none;
  text-decoration: none;
}



.box {
  height: 150px; /* Set the height as per your requirement */
  padding: 20px; /* Optional: add padding to the boxes */
  margin: 10px; /* Optional: add margin to the boxes */
  border: 1px solid #ccc; /* Optional: add border to the boxes */
}
