

#no-bg-box-show {
  background-color: #272D35;
  width: 153px;
  display: flex;
  justify-content: center;
}

// PROFILE CARD

.cards-show {
  width: 900px;
  background-color: #272D35;
  padding: 38px;
  border-radius: 20px;
  margin-left: 0px;
  justify-content: space-between;
  margin: 10px;
  opacity: 0.9;
}

.name_pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-infos-show {
  display: flex;
  height: 120px;
  margin-top: 29px;
  margin-left: 10px;
  width: 100px;

  .profile-pic-show {
    border-radius: 50%;
  }
  .profile-name-show {
    margin-top: 45px;
    margin-left: 29px;
    color: white;
  }
}

.profile_top{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: rgba(127, 187, 181, 0.09);
  border-radius: 10px;
}

.profile_pic_show{
  border-radius: 50%;
  height: 45vh;
  margin: 2%;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

.profile_name_show{
  color:white;
}

.btn-primary{

}

.bio-box-show {
  background-color: #05595B;
  border-radius: 20px;
  width: 90vh;
  height: 35vh;
  margin-top: 2%;
  margin-right: 13px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 1px 9px 0px rgba(28, 28, 28, 0.75);


  .bio-text-show {
    padding: 15px;
  }
}

// STATS BUTTONS

.stats-btns-box-show{
  height: 5rem;
  width: 450;
  color: white;
  text-decoration: none;

  .btns-single-show {
    font-size: 120%;
    background-color: #05595B;
    margin: 16px;
    width: 128px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 2%;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);

  .btn-text-show {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 7px;
    }
  }
}



// OTHER CARDS

.cards-grid-show {
  height: 250px;
  width: 900px;
  background-color: #272D35;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 46px;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 10px;
  opacity: 0.9;
  color: white;
}

.github_logo{
  background: #3eb13b;
  padding: 1rem;
  border-radius: 10px;
  margin-right: -2rem;
}

.boxes-grid-show {
  display: flex;
  width: 150px;
  // height: 150px;
  border-radius: 20px;
  background-color: #05595B;
  justify-content: center;


  .boxes-content-show {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 7px;
    justify-content: center;
    color: white;
  }
}

.skill-icons {
  display: flex;
  align-items: center;
  padding: 16px;
  color: white;

  i {
    margin-right: 4px;
  }

  p {
    margin: unset;
  }
}

.dashboard-skill {
  margin-right: 16px;
  width: auto;
}

.languages{
  border-radius: 10px;
  margin-top: 13px;
  padding: 2%;
  background: linear-gradient(to right, #1d435008, #9e908942);
}

.index_list{
  list-style-type: none;
  text-decoration: none;
}



.box {
  height: 150px; /* Set the height as per your requirement */
  padding: 20px; /* Optional: add padding to the boxes */
  margin: 10px; /* Optional: add margin to the boxes */
  border: 1px solid #ccc; /* Optional: add border to the boxes */
}

#popup {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100vh;
  background-color: white;
  transition: left 0.5s;
}

#popup.hidden {
  left: -100%;
}

#popup:not(.hidden) {
  left: 0;
}
