<div class="container">

  <%= simple_form_for [@booker, @booking] do |f| %>
    <%= f.input :date, as: :date_picker %>
    <%= f.input :time, as: :time_picker %>
    <%= f.button :submit %>
  <% end %>
</div>
