<div class="daschboardmetrics-bAw" id="7:2590">
<div class="rectangle-225-o27" id="7:2591"></div>
<div class="finance-dashboard-source-file-CyM" id="7:2592">
<div class="auto-group-gvxm-tbH" id="UCEWw4PYfqLCxfHrkhGVXM">
<div class="upgrade-to-pro-z8X" id="7:2662">
<img class="frame-29-6ST" src="/api/try-prod-ap-southeast-1-first-cluster/project..." id="7:2800"/>
<div class="shadoow-RUj" id="7:2668">SHADOO.W</div>
</div>
<div class="projects-finance-bar-R7M" id="7:2748">
<div class="authentication-vZu" id="7:2749">Authentication</div>
<div class="profile-bar-RFm" id="7:2750">
<div class="send-money-9Bm" id="7:2753"></div>
<div class="send-money-2es" id="7:2792"></div>
<div class="send-money-yq1" id="7:2794"></div>
</div>
</div>
</div>
</div>
</div>
