<h1>USER INDEX</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <strong><%= user.user_name %></strong> (<%= user.email %>)<br>
      <img src="<%= user.profile_pic %>" width="100"><br>
  
    </li>
  <% end %>
</ul>
