.button {


}

.daschboardmetrics-bAw {
  background-color: #2c3138;
  height: 126.9rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .rectangle-225-o27 {
    background-color: rgba(5, 89, 91, 0.8299999833);
    height: 215.1348rem;
    left: 37.4721rem;
    position: absolute;
    top: 8.3385rem;
    width: 286.6419rem;
  }
  .finance-dashboard-source-file-CyM {
    background-color: #0e131a;
    border-radius: 4rem;
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.150000006);
    box-sizing: border-box;
    height: 90rem;
    left: 11.9rem;
    overflow: hidden;
    padding: 3.95rem 40.7rem 3.95rem 24.9rem;
    position: absolute;
    top: 22.4rem;
    width: 146.5rem;

    .auto-group-gvxm-tbH {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 76.85rem;
      padding: 0rem 7.7rem 0rem 20.3rem;
      width: 100%;

      .upgrade-to-pro-z8X {
        background-color: #272c35;
        border-radius: 2rem;
        flex-shrink: 0;
        height: 17.65rem;
        margin: 0rem 16.6rem 3.6rem 15.6rem;
        position: relative;
        width: calc(100% - 32.2rem);

        .frame-29-6ST {
          height: 15.5rem;
          left: 3.5rem;
          object-fit: contain;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 13.7rem;
        }
        .shadoow-RUj {
          align-items: center;
          color: #ffffff;
          display: flex;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 500;
          height: 2.4rem;
          justify-content: center;
          left: 5.95rem;
          line-height: 1.5;
          position: absolute;
          top: 9.9rem;
          white-space: nowrap;
          width: 8.9rem;
        }
      }
      .projects-finance-bar-R7M {
        align-items: center;
        background: linear-gradient(90.24deg, #272c35 -8.45%, rgba(39, 44, 53, 0.8645833135) -8.44%, rgba(39, 44, 53, 0) 108.65%);
        border-radius: 2rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: 5.8rem 4.6rem 6.6rem 3.9rem;
        width: 100%;

        .authentication-vZu {
          align-items: center;
          color: #ffffff;
          display: flex;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 500;
          justify-content: center;
          line-height: 1.5;
          margin: 0rem 4.4rem 5.7rem 0rem;
          white-space: nowrap;
        }
        .profile-bar-RFm {
          align-items: center;
          background-color: #272c35;
          border-radius: 2rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          padding: 2.5rem 4.1rem 2.6rem 4.1rem;
          row-gap: 2.1rem;
          width: 100%;

          .send-money-9Bm {
            background-color: rgba(5, 89, 91, 0.6299999952);
            border-radius: 2rem;
            flex-shrink: 0;
            height: 7.8rem;
            width: 100%;
          }
          .send-money-2es {
            background-color: rgba(5, 89, 91, 0.6299999952);
            border-radius: 2rem;
            flex-shrink: 0;
            height: 7.8rem;
            width: 100%;
          }
          .send-money-yq1 {
            background-color: rgba(5, 89, 91, 0.6299999952);
            border-radius: 2rem;
            flex-shrink: 0;
            height: 7.8rem;
            width: 100%;
          }
        }
      }
    }
  }
}
