body {
  background-color: black;
}

.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.btn-primary:hover {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-primary:focus {
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #212529;
  border-color: #212529;
}
.form-control.bg-dark.text-white:focus {
  background-color: #343a40;
  color: #fff;
  border-color: #343a40;
}
