<div class="container" data>

<%= simple_form_for @availability, data: { controller: 'flatpickr' } do |f| %>
  <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
 <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
  <%= f.submit 'Set availabilities' %>
<% end %>

</div>
